@model HelpDeskTrain.Models.Inventory

@{
    ViewBag.Title = "Переглянути запис";
}

<h2>Детально по запису</h2>

<fieldset>
    <legend>Детально по запису</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Characteristic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Characteristic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Appointment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Appointment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateRelease)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRelease)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InvNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Count)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Count)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Units)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Units)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Published)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Published)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Checked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Checked)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Назад до списку", "Index")
</p>
