@model IEnumerable<HelpDeskTrain.Models.NadpsuOrgState>

@{
    ViewBag.Title = "Орг Штат НАДПСУ";
}

<h2>Орг Штат НАДПСУ</h2>

<p>
    @Html.ActionLink("Додати новий запис", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupCourse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SampoClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupCourse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SampoClass)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Specialty)
        </td>
        <td>
            <a class="openDialog" data-dialog-id="infoDialog" data-dialog-title="Видалити запис" 
               href="/NadpsuOrgState/Delete/@item.Id">
               <img src="../../Content/pictures/delete-icon.png" class="tdImage" title="Видалити запис" />
              <a class="openDialog" data-dialog-id="infoDialog" data-dialog-title="Редагувати запис" 
               href="/NadpsuOrgState/Edit/@item.Id">
               <img src="../../Content/pictures/document-edit.png" class="tdImage" title="Редагувати запис" />
        </td>
    </tr>
}

</table>
