@model IEnumerable<HelpDeskTrain.Models.LessonType>

@{
    ViewBag.Title = "Типи занять";
}

<h2>Типи занять</h2>

<p>
    @Html.ActionLink("Створити новий", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            <a class="openDialog" data-dialog-id="infoDialog" data-dialog-title="Видалити запис" 
               href="/LessonType/Delete/@item.Id">
               <img src="../../Content/pictures/delete-icon.png" class="tdImage" title="Видалити запис" />
              <a class="openDialog" data-dialog-id="infoDialog" data-dialog-title="Редагувати запис" 
               href="/LessonType/Edit/@item.Id">
               <img src="../../Content/pictures/document-edit.png" class="tdImage" title="Редагувати запис" />
        </td>
    </tr>
}

</table>
